.contact-container {
    height: 46em;
    background-color: #000000;
    overflow: auto;
    clip-path: polygon(50% 0%, 100% 20%, 100% 100%, 0 100%, 0 20%);
}

.content {
    margin-top: 5vh;
}

.mat-icon-button {
    transform: scale(2);
    margin: 1em 2em 1em 2em;
}

.fa {
    font-size: 3em;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 0 0.5em 0 0.5em;
    color: ivory;
}

.hero-image {
    // height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    clip-path: polygon(50% 0%, 100% 20%, 100% 100%, 0 100%, 0% 20%);
}

.hero-text {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

span {
    margin-top: 18px;
}

.section-heading {
    color: white;
}

hr {
    background-color: white;
}

.project-talk-container {
    margin-top: 5%;
}

.project-talk-button {
    margin: 0 1em 0 1em;
}

.resume-button {
    color: white;
    border-color: white;
}

.resume-button:hover {
    background-color: #08a503;
}