<div class="container-fluid">
  <div class="row">
    <div class="offset-md-3 col-md-6 offset-1 col-10 text-center">
      <div class="row">
        <div class="col-md-12 col-sm-12 mt-5 text-center">
          <span class="heading">Stay in touch with me</span>
        </div>
        <div class="col-md-3 col-4 mt-5 mb-5" *ngFor="let social of socials">
          <div class="row">
            <div class="col-12">
              <a href="{{ social.link }}" class="fa" [ngClass]="social.class"></a>
            </div>
            <div class="col-12 mt-3">
              <span style="font-size: 2rem;">{{ social.text }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>