.container-fluid {
    height: 100vh;
}

.salutation {
    font-size: 28rem;
    font-weight: bold;
    color: #444444;
    @media screen and (max-width: 500px) {
        font-size: 10rem;
    }
    @media screen and (max-width: 1024px) and (min-width: 500px) {
        font-size: 7rem;
    }
}

.introduction-text {
    font-size: 7.2rem;
    color: #444444;
    @media screen and (max-width: 500px) {
        font-size: 2.0rem;
    }
    @media screen and (max-width: 1024px) and (min-width: 500px) {
        font-size: 3rem;
    }
}

.emphasis-role {
    font-weight: bold;
}

.emphasis-place {
    color: #28704D;
    font-weight: bold;
}
