<div class="container-fluid">
    <div class="row">
        <div class="offset-1 col-4 align-items-center">
            <span style="font-size: 288px; color: #ffffff;">Hey,</span>
        </div>
        <div class="offset-5 col-6 text-right">
            <span class="introduction-text" style="text-align-last: right; text-align: justify;">I'm a <span
          class="emphasis-role">Self-Taught Software
          Engineer</span> from <span class="emphasis-place">Pakistan</span></span>
        </div>
    </div>
</div>