.name-heading {
    font-family: 'Quicksand', sans-serif;
    font-size: 144px;
    color: #444444;
    @media screen and (max-width: 500px) {
        font-size: 6.0rem;
    }
}

.intro-text {
    font-size: 3.6rem;
    color: #444444;
    @media screen and (max-width: 500px) {
        font-size: 1.6rem;
    }
}