.skill-card {
    height: 100%;
    width: 40vh;
    margin-left: 1vh;
    margin-right: 1vh;
}

.skill-list {
    font-size: 1.2em;
    list-style-type: none;
    padding: 0;
    line-height: 2rem;
}