.skill-card {
    // overflow: hidden;
    height: 100%;
    width: 20em;
    margin-left: 1em;
    margin-right: 1em;
}

.skill-list {
    font-size: 1.5em;
    list-style-type: none;
    padding: 0;
    // line-height: 2rem;
}