<div class="container-fluid">
  <div class="row">
    <div class="col-12 text-center mb-md-5">
      <span class="heading">Hire me for your project</span>
    </div>
    <div class="col-12 text-center">
      <span class="text">Contact me through social, phone number or place an order directly on fiverr</span>
    </div>
    <div class="col-12 text-center mt-5">
      <div itemscope itemtype='http://schema.org/Person' class='fiverr-seller-widget' style='display: inline-block;'>
        <a itemprop='url' href="https://www.fiverr.com/shehriyarq" rel="nofollow" target="_blank"
          style='display: inline-block;'>
          <div class='fiverr-seller-content' id='fiverr-seller-widget-content-b305175b-d93c-4bb2-bc44-f8bbedf5f13b'
            itemprop='contentURL' style='display: none;'></div>
          <div id='fiverr-widget-seller-data' style='display: none;'>
            <div itemprop='name'>shehriyarq</div>
            <div itemscope itemtype='http://schema.org/Organization'><span itemprop='name'>Fiverr</span></div>
            <div itemprop='jobtitle'>Seller</div>
            <div itemprop='description'>I'm a Full-Stack Software Engineer. I started out being a Back-End engineer but
              quickly picked up the pace in Front-End development as well. My work history includes some awesome
              achievements such as discovering and fixing major memory leaks & security vulnerabilities. One of my great
              achievements has been that the project I worked on at one of my day jobs won the GEC Award for Best
              Business Transformation Solution which I'm proud of.</div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>