<mat-card class="project-card mat-elevation-z3">
  <mat-card-title>
    <div>
      <div class="image" [style.background-image]="backgroundImageValue">
      </div>
    </div>
  </mat-card-title>
  <mat-card-content>
    <div id="headings">
      <span class="project-name">{{projectDetails.name}}</span>
      <span class="project-description">{{ projectDetails.description }}</span>
    </div>
    <div *ngIf="isLinkPresent" id="link-icon-container">
      <a href="{{ projectDetails.link }}" class="fa fa-external-link"></a>
    </div>
  </mat-card-content>
</mat-card>