.project-card {
  height: 100%;
  width: 100%;
  padding-top: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  border-radius: 0.5em;
  overflow: hidden;
}

.image {
  height: 0;
  padding-top: 56.25%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}

.project-name {
  display: block;
  font-size: 2em;
  font-weight: bold;
}

.project-description {
  font-size: 1.5em;
}

.fa {
  margin-top: 0.5em;
  font-size: 3em;
  color: #673ab7;
}

.award {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 35%;
  @media only screen and (max-width: 450px) {
    width: 80%;
  }
}
