<div class="skills-container text-center">
  <div class="content">
    <span #heading class="section-heading" [@slideInLeft]="isHeadingVisible ? '*' : 'void'">Skills</span>
    <hr #underline [@hrExtend]="isUnderlineVisible ? '*' : 'void'">
    <div class="d-flex justify-content-center skill-types-container">
      <app-skill-card [skillsList]="skillService.frontendSkills" [skillTitle]="'Front-End'"></app-skill-card>
      <app-skill-card [skillsList]="skillService.backendSkills" [skillTitle]="'Back-End'"></app-skill-card>
      <app-skill-card [skillsList]="skillService.databaseSkills" [skillTitle]="'Database'"></app-skill-card>
      <app-skill-card [skillsList]="skillService.otherSkills" [skillTitle]="'Other'"></app-skill-card>
    </div>
  </div>
</div>