<div class="container-fluid">
    <div class="row">
        <div class="col-12 mb-3">
            <app-greeter></app-greeter>
        </div>
        <div class="col-12 mb-3">
            <app-about></app-about>
        </div>
        <div class="col-12" style="margin: 10rem 0 10rem 0;">
            <app-companies-worked></app-companies-worked>
        </div>
        <div class="col-12 nopadding" style="margin-bottom: 5rem;">
            <app-contact></app-contact>
        </div>
        <div class="col-12 nopadding mt-3">
            <app-footer></app-footer>
        </div>
    </div>
</div>