<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <app-greeter></app-greeter>
        </div>
        <div class="col-12">
            <app-projects></app-projects>
        </div>
        <div class="col-12">
            <app-recommendations></app-recommendations>
        </div>
        <div class="col-12">
            <app-skills></app-skills>
        </div>
        <div class="col-12 nopadding">
            <app-contact></app-contact>
        </div>
    </div>
</div>