<div class="container-fluid">
    <div class="row">
        <div class="col-12 mb-3">
            <app-greeter></app-greeter>
        </div>
        <div class="col-12 mt-3 mb-3">
            <app-projects></app-projects>
        </div>
        <div class="col-12 mt-3 mb-3">
            <app-companies-worked></app-companies-worked>
        </div>
        <div class="col-12 mt-3 mb-3">
            <app-recommendations></app-recommendations>
        </div>
        <div class="col-12 mt-3 mb-3">
            <app-skills></app-skills>
        </div>
        <div class="col-12 nopadding mt-3">
            <app-contact></app-contact>
        </div>
    </div>
</div>